/* font side */
@font-face {
  font-family: "Raleway-regular";
  src: url(/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-medium";
  src: url(/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: "Raleway-bold";
  src: url(/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "Raleway-extrabold";
  src: url(/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: "Raleway-semibold";
  src: url(/fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "Raleway-black";
  src: url(/fonts/Raleway-Black.ttf);
}

/* ---------------------color
  -------------------------------------- */
:root {
  --primary: #eebf00;
  --secondary: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

/* ------------reset------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* -------------------------start the body------------------- */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway-Regular";
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

/*------------------------------- mobail navigation start
-------------------------------------------------------------------- */
.main-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.nav-background {
  width: 100%;
  height: 100%;
  background: var(--light);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15px;
  display: none;
}
.nav-trigger svg {
   transform: rotate(90deg)scaleX(-1);
   width: 40px;
   height: 40px;
}

.site-content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--heaven);
  z-index: 2;
  transition: all .3s ease;
}

.site-content-wrapper.scaled {
  transform: scale(0.9) translateX(90%);
  border-radius:3px;
  box-shadow: 0 3px 10px 0 var(--secondary);
}

.site-content {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

/* --------------------------start the top bar header
 ----------------------------------------------------------------------- */
header.topbar {
  background: var(--secondary);
  color: var(--pure);
  font-family: "Raleway-SemiBold";
  padding: 0.75rem 0;
}

header.topbar .auth > div a {
  color: var(--pure);
  text-decoration: none;
}

header.topbar .icons a {
  margin-right: 0.6rem;
  text-decoration: none;
}

header.topbar .auth .divider {
  padding: 0 1rem;
}

header.topbar .auth > div img {
  margin-right: 0.35rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/*************************************start the navigation
  ***********************************************************************  */
nav .top {
  padding: 1.5rem 0;
}

/* left -side -contact mate */
nav .top .contact h5 {
  font-family: "Raleway-Black";
  margin-bottom: 0.25rem;
}

nav .top .contact h6 {
  font-family: "Raleway-medium";
  letter-spacing: 0.055rem;
  font-size: 0.75rem;
  color: var(--ternary);
}

/* right-side-clock mate */

nav .top .time h5 {
  font-family: "Raleway-Black";
  margin-bottom: 0.25rem;
}

nav .top .time h6 {
  font-family: "Raleway-medium";
  letter-spacing: 0.055rem;
  font-size: 0.75rem;
  color: var(--ternary);
}

/* icon space left side */
nav .top .contact img {
  margin-right: 1rem;
}

/* icon space  right side */
nav .top .time img {
  margin-right: 1rem;
}

.justify-center {
  justify-content: center;
}

/* ------------------------start nav bar home,about
  --------------------------------------------------------------------------------------- */

nav .navbar a {
  text-decoration: none;
  color: var(--secondary);
  font-family: "Raleway-semibold";
  font-size: 1rem;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}
/* ------- navrbar ma home ne color apva */
nav .navbar a.active {
  background: var(--primary);
  color: var(--pure);
}
/* navbar ne hover apyu */
nav .navbar a:hover {
  background: var(--primary);
  color: var(--pure);
}
/* shadow api che after before */
.magic-shadow {
  position: relative;
  background: var(--heaven);
}

.magic-shadow:after {
  content: " ";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url(/icons/shadow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -21px;
  z-index: -1;
}

/*------------------------------- hero part start header
   ----------------------------------------------------------------------- */

header.hero {
  height: 600px;
  background-image: url(/img/hero.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* stobeeey no image ne set karva apyu chee. */
header.hero .container {
  position: relative;
}

header.hero .welcome {
  margin-bottom: 0.25rem;
}

/* hero ma welocme ne style */
header.hero .welcome span {
  font-family: "Raleway-Bold";
  color: var(--secondary);
  margin-right: 0.75rem;
}

/* hero ma h1 ne style */
header.hero h1 {
  font-family: "Raleway-ExtraBold";
  color: var(--secondary);
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

/* shoping ne color banayi */
header.hero h1 span {
  color: var(--primary);
}

/* text ne style */
header.hero p {
  font-family: "Raleway-Medium";
  width: 50%;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* utilze class button mate use for bootstrape */
/* all button mate lakho */
.btn {
  padding: 0.75rem 0.75rem;
  border-radius: 4px;
  border: none;
  line-height: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  /* border jump na tay tena mate */
}

/* primary button mate */
.btn-primary {
  background: var(--primary);
  color: var(--heaven);
}

.btn-primary:hover {
  background: var(--heaven);
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* seoondary button mate */
.btn-secondary {
  background: var(--secondary);
  color: var(--heaven);
}

.btn-secondary:hover {
  background: var(--heaven);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

/* 2 button na vache space api */
header.hero button:first-child {
  margin-right: 0.5rem;
}

/* hero-image style */
header.hero .hero-image {
  position: absolute;
  top: -40px;
  right: 40px;
}

/* -- ------------------------START THE SECTION PARTS
                                      ------------------------------------------------------------------------  */

section {
  padding: 4rem 0;
}

/* start the background color for section-slider */
section.top-products {
  background: var(--light);
}
/* start the use utilize class je pachi je  element per use karyo tem thay */
.section-heading {
  font-family: "Raleway-bold";
  text-align: center;
  position: relative;
  margin-bottom: 6rem;
}
/* top product start start */
.section-heading:after {
  content: " ";
  display: block;
  width: 100%;
  height: 30px;
  background-image: url(/icons/hr.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -40px;
}

/*   strart the slider style */

section.top-products .food-slider .food-card {
  background: var(--heaven);
  padding: 1.5rem 0;
  border-radius: 4px;
}

/* start the slider-image style */

section.top-products .food-slider .food-card .product-image img {
  width: 80%;
  height: 200px;
  /* object:- teno use vadhre hidh ke widhth apihoy ane adjust na hoy etle fit karva */
  object-fit: contain;
  padding-bottom: 1rem;
}

/* hr tag start style */
hr {
  border: 1px solid var(--light);
  opacity: 1;
  margin: 1rem 0;
}

/* h2 start style */
section.top-products .food-slider .food-card h2 {
  font-family: "Raleway-bold";
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}

/* utilize for text --------- */
.text-center {
  text-align: center;
}

/* start the stars bottom spac */
section.top-products .food-slider .food-card .stars {
  margin-bottom: 0.25rem;
}

/* start the start spacing */
section.top-products .food-slider .food-card .stars img {
  margin-right: 0.25rem;
}

/* start the pricing style */
section.top-products .food-slider .food-card .price {
  font-family: "Raleway-medium";
  color: var(--danger);
  margin-bottom: 1rem;
}

/* start the button style */
section.top-products .food-slider .food-card button {
  font-family: "Raleway-medium";
  color: var(--secondary);
  background: var(--heaven);
  border: 2px solid var(--primary);
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

section.top-products .food-slider .food-card button:hover {
  background: var(--primary);
  color: var(--heaven);
}
/* add to card img style */
.food-slider .food-card button img {
  background: var(--primary);
  padding: 0.5rem;
  height: 32px;
  margin-right: 1.2rem;
}
/* slider start */
.slick-slide {
  margin: 0 27px;
}

.slick-list {
  margin: 0 -27px;
}

/* slider button start */

.top-products .slider-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: var(--primary);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
/* slider ma previus and next button start thestyle */
.prev-btn {
  position: absolute;
  top: 46%;
  left: -3rem;
  z-index: 1;
}

.next-btn {
  position: absolute;
  top: 46%;
  right: -3rem;
  z-index: 1;
}

.top-products .slider {
  position: relative;
}
/* button(view more) mate style */
.top-products .btn-wrapper {
  margin-top: 2rem;
}

/* start the slider shadow */

.magic-shadow-sm {
  position: relative;
  background: var(--heaven);
}

.magic-shadow-sm:after {
  content: " ";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url(/icons/shadow-sm.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -21px;
  /* section 3 no shadow mate use karyu left and transform */
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.slick-track {
  padding: 1rem;
}

/* ----------------------------------------milk section start
 ------------------------------------------------------------------------------- */

section.about-meal img {
  width: 85%;
}
/* utilize class banyo(img and content ne center ma karva use karyo */
.flex-1 {
  flex: 1;
}

section.about-meal h2 {
  font-family: "Raleway-bold";
  font-size: 1.4rem;
  color: var(--secondary);
  margin-bottom: 2rem;
  line-height: 1.3;
}

section.about-meal p {
  line-height: 1.7;
  margin-bottom: 4rem;
}

/* section 3 card start */
section.our-services {
  background: var(--light);
  position: relative;
  z-index: 0;
}

section.our-services .card-wrapper {
  margin-right: -2rem;
  margin-top: 8rem;
}

section.our-services .service-card {
  background: var(--heaven);
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  /* card na vachhe space apva */
  margin-right: 2rem;
  position: relative;
  border-radius: 4px;
}

section.our-services .service-card .icon {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

section.our-services .service-card h2 {
  font-family: "Raleway-Bold";
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

section.our-services .service-card p {
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

/* utilize text primary color */
.text-primary {
  color: var(--primary);
}

/* --------------------------------section 4 start
 ----------------------------------------------------------------------  */
/* background lavva mate */
section.big-deal {
  background: linear-gradient(rgba(35, 43, 56, 0.9), rgba(35, 43, 56, 0.9)),
    url(/img/food-table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
section.big-deal .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -2rem;
  margin-bottom: 2rem;
}

section.big-deal .timer div {
  margin-right: 2rem;
  background: var(--primary);
  width: 150px;
  height: 150px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.big-deal .timer div span:first-child {
  font-family: "Raleway-bold";
  font-size: 2.4rem;
  color: var(--heaven);
  margin-bottom: 0.05rem;
}

section.big-deal .timer div span:last-child {
  font-family: "Raleway-medium";
  color: var(--heaven);
}
/* utilizi text */
.text-pure {
  color: var(--pure);
}

/* ----------------------new start section 5 start
 -------------------------------------------------------------- */
section.latest-news {
  background: var(--light);
  position: relative;
  z-index: 0;
}

/* 2 article ne side ma lavi diha flex thi */
section.latest-news .article-wrapper {
  display: flex;
  margin-right: -2rem;
}

/* 2 card vachhe margin(space) */
.latest-news .article-wrapper .card {
  margin-right: 2rem;
  background: var(--heaven);
  border-radius: 4px;
}

/* img ni width set karava */
.latest-news .article-wrapper .card img {
  width: 100%;
}

/*  */
.latest-news .article-wrapper .card .card-content {
  padding: 1rem;
}

.latest-news .article-wrapper .card .card-content .post-meta {
  margin-bottom: 1rem;
}

.latest-news .article-wrapper .card .card-content .post-meta .comment-count {
  margin-left: 1rem;
}

.latest-news .article-wrapper .card .card-content h2 {
  font-family: "Raleway-bold";
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.latest-news .article-wrapper .card .card-content p {
  line-height: 1.6rem;
}

.latest-news .btn-wrapper {
  margin-top: 2rem;
}

/* ---------------------new section 6 start
  --------------------------------------------------------------------------  */
section.subscribe {
  background: var(--primary);
}

section.subscribe .container > div:first-child img {
  width: 90%;
}

/* 2 part ma karva mate flex 1 karine 2 part ma karayu */
section.subscribe .container div:first-child {
  flex: 1;
}

section.subscribe .container div:last-child {
  flex: 1;
}

section.subscribe h1 {
  font-family: "Raleway-bold";
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section.subscribe p {
  font-family: "Raleway-medium";
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

section.subscribe .input-wrap {
  background: var(--heaven);
  display: flex;
  padding: 0.3rem;
  border-radius: 4px;
}

section.subscribe .input-wrap input {
  width: 100%;
  padding: 0 1rem;
  border: none;
  font-size: 1rem;
}

section.subscribe .input-wrap input:focus {
  outline: none;
}

section.subscribe .input-wrap button {
  padding: 0.8rem 2rem;
  border: none;
  background: var(--primary);
  color: var(--pure);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

section.subscribe .input-wrap button:hover {
  background: var(--secondary);
}

/* new section start 6 ---------------------------------------------------------- */

section.contact-us {
  padding-top: 0;
  padding-bottom: 0;
}

section.contact-us .contact-info-wrapper {
  padding: 4rem 0;
  flex: 1;
}

section.contact-us .map {
  flex: 1;
  /* filter:grayscale(100%) */
}

section.contact-us .contact-info {
  display: flex;
  justify-content: center;
}

section.contact-us .contact-info > div > div {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

section.contact-us .contact-info > div > div img {
  margin-right: 1rem;
}
section.contact-us .contact-info > div > div > div {
  display: flex;
  flex-direction: column;
  /* uper niche  karva mate */
}

section.contact-us .contact-info > div > div > div span:first-child {
  font-family: "Raleway-bold";
  margin-bottom: 0.25rem;
}

/* ------------------------start the footer
  -------------------------------------------------------- */
footer {
  background: var(--footer);
  padding: 4rem 0;
}

footer .container {
  display: flex;
  color: var(--pure);
}

footer .box {
  flex: 1;
  margin-right: 2rem;
  text-align: center;
}

footer .instagram-api img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .instagram-api .post-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .instagram-api .post-wrap > div {
  width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
  margin-bottom: 20px;
}

footer .box ul {
  list-style-type: none;
}

footer .box ul li a {
  color: var(--pure);
  text-decoration: none;
  transition: all 0.3s ease;
}

footer .box ul li a:hover {
  color: var(--primary);
}

footer .box h3 {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

footer .box p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

footer .box ul li {
  margin-bottom: 1rem;
}

footer .box:nth-child(3) > div {
  display: flex;
  justify-content: center;
}

footer .box:nth-child(3) {
  text-align: left;
}

footer .box:nth-child(3) h3 {
  text-align: center;
}

footer .box:nth-child(3) > div img {
  margin-right: 1rem;
}

footer .box:nth-child(3) ul li {
  margin-bottom: 1.5rem;
}

/* -----------------------start the footer copyright
   ------------------------------------------------------------------------- */
footer.copyright {
  padding: 1rem 0;
  background: var(--secondary);
  color: var(--pure);
  text-align: center;
}

footer.copyright a {
  color: var(--primary);
  text-decoration: none;
}

/* ---------------------start the mobile style
--------------------------------------------------------------------- */
.nav-background .mobile-logo {
   padding: 1rem;
}

.nav-background .mobile-nav {
   padding: 1rem;
}

.nav-background .mobile-nav ul {
   list-style-type: none;
}

.nav-background .mobile-nav ul li {
   margin-bottom: 1rem;
}

.nav-background .mobile-nav ul li a {
      text-decoration: none;
      color: var(--secondary);
      font-family: "Raleway-medium";
}

.nav-background .mobile-nav ul li a:hover {
   color: var(--primary);
}

.nav-background .contact , .nav-background .time {
   padding: 1rem;
   padding-left: 0;
}
.nav-background .contact img, .nav-background .time img{
   margin-right: 1rem;
}

.nav-background .contact h5,  .nav-background .time h5{
   font-family: "Raleway-bold";
   margin-bottom: 0.25rem;
   font-size: 1rem;
}

.nav-background .contact h6,  .nav-background .time h6 {
   font-size: 0.75rem;
}

.nav-background .cart {
   margin-bottom: 2rem;
}

.nav-background .cart a{
   color: var(--secondary);
   text-decoration: none;
   font-family: "Raleway-Bold";
   
}

.nav-background .cart img {
   margin-right: 0.75rem;
   width: 20px;
   height: 20px;
}


@media(max-width:992px) {
   .nav-trigger {
      display: block;
   }
   header.topbar {
      display: none;
   }

   header.hero {
      margin-top: -4rem;
   }

   header.hero .hero-image {
      right: -160px;
      top: 100px;
   }

    .top-products  .slider-btn{
      display: none !important;
    }
   
    .latest-news .article-wrapper {
      flex-direction: column;
    }

    .latest-news .article-wrapper .card {
      margin-right: 0;
      margin-bottom: 4rem;
    }

    footer .instagram-api .post-wrap > div {
      width: calc(1/2*100% - (1 - 1/3)*10px);
    }
}

@media (max-width:768px){
   .about-meal .about-meal-wrap {
      flex-direction: column;
   }

   .about-meal .about-meal-wrap img {
      width: 100%;
      margin-bottom: 2rem;
   }

   section.our-services .card-wrapper {
      flex-direction: column;
   }

   section.our-services .card-wrapper .service-card {
      margin-bottom: 6rem;
   }

   footer .container {
      flex-direction: column;
   }

   footer .box{
      text-align: left;
      margin-right: 0;
      margin-bottom: 3rem;
   }

    footer .box:nth-child(3) h3{
      text-align: left;
    }

    footer .box:nth-child(3) > div {
      display: block;
    }
}

@media(max-width:576px)
{
  header.hero .hero-image {
    right: -235px;
    top: 150px;
  }

  header.hero .container {
    padding-left: 1rem;
  }

  header.hero {
    margin-top: -3rem;
  }

  section.big-deal  .timer > div {
    margin-right: 0.50rem;
  }

  section.big-deal  .timer {
    margin-right: -0.5rem;
  }

  section.subscribe  .container {
      flex-direction: column;
      padding: 0.50rem;
  }

}
